<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Nosotros</h2>
                <ol class="breadcrumb header-bradcrumb">
                    <li><a [routerLink]="['home']">Inicio</a></li>
                    <li class="active">Nosotros</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!--
Start About Section
==================================== -->
<section class="about" id="about">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center">
                <h2>Nosotros</h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <div class="col-md-6">
                <img src="./assets/images/about-us.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
                <p>Somos una empresa líder en venta de equipo médico dedicada al servicio, 25 años satisfaciendo las necesidades de nuestros clientes nos avalan cumpliendo desde servicios individuales hasta requerimientos a gran escala, porque sabemos que
                    cada cliente es Único. </p>
                <p>Nos importa darle la merecida atención a cada cliente. Nos dedicamos a brindarle el apoyo que está buscando y así podrá tener la confianza de que siempre seremos su mejor opción.</p>
                <p>Actualmente somos distribuidores oficiales y abarcamos todos los sectores del mercado: Personas Físicas, Clínicas Rurales, Clinicas Urbanas, Clientes de la pequeña y mediana empresa, al igual que grandes Hospitales y corporativos a nivel
                    nacional
                </p>
                <p>Gracias a la gran infraestructura técnica, económica, y de recursos humanos que conforman nuestra red de trabajo, somos capaces de dar soluciones integrales a todas sus necesidades de equipo médico y de instalaciones hospitalarias.</p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- End section -->

<!--
Start Call To Action
==================================== -->
<section class="call-to-action-2 section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>El diseño es muy simple, por eso es complicado.</h2>
            </div>
        </div>
        <!-- End row -->
    </div><br>
    <div class="container">
        <div class="row">
            <!-- first count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-alarm-outline"></i>
                    <div>
                        <span class="counter" data-count="1500" style="color:white">1500</span>
                    </div>
                    <h3 style="color:white">Clientes Satisfechos</h3>
                </div>
            </div>
            <!-- end first count item -->

            <!-- second count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-analytics-outline"></i>
                    <div>
                        <span class="counter" data-count="2000" style="color:white">2000</span>
                    </div>
                    <h3 style="color:white">Productos Vendidos</h3>
                </div>
            </div>
            <!-- end second count item -->

            <!-- third count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-compose-outline"></i>
                    <div>
                        <span class="counter" data-count="12" style="color:white">12</span>
                    </div>
                    <h3 style="color:white">Horas de soporte al dias</h3>

                </div>
            </div>
            <!-- end third count item -->

            <!-- fourth count item -->
            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item kill-border">
                    <i class="tf-ion-ios-bolt-outline"></i>
                    <div>
                        <span class="counter" data-count="15" style="color:white">15</span>
                    </div>
                    <h3 style="color:white">Agentes de Ventas</h3>
                </div>
            </div>
            <!-- end fourth count item -->
        </div>
        <!-- end row -->
    </div>
    <!-- End container -->
</section>
<!-- End section -->

<!-- Start Our Team
    =========================================== -->
<section class="team" id="team">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center ">
                <h2>Nuestras Páginas</h2>
                <p>Visita nuestras Páginas pueden ser de tu interes.</p>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- team member -->
            <div class="col-md-4 col-sm-6 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-responsive" src="./assets/images/team/varfralogo.png" alt="Meghna">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Varfra.com</h3>
                        <span>Venta de Equipos Medicos</span>
                        <p>Pagina web de venta de equipos médicos para hospitales, clínica, laboratorio, etc.Cotizamos cualquier tipo de equipo medico.</p>
                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <!-- end team member -->

            <!-- team member -->
            <div class="col-md-4 col-sm-6 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-responsive" src="./assets/images/team/todoenequipomedicologo.png" alt="Meghna">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Todoenequipomedico.com</h3>
                        <span>Insumos Médicos</span>
                        <p>Pagina de venta de toda clase de insumos médicos. Aceptamos pagos con paypal y transferencia bancaria. Compre con nosotros.</p>
                    </div>
                    <!-- /member name & designation -->
                </div>
            </div>
            <!-- end team member -->

            <!-- team member -->
            <div class="col-md-4 col-sm-6 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-responsive" src="./assets/images/team/logoProveedor.png" alt="Meghna">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Elproveedordelmedico.com</h3>
                        <span>Tienda online</span>
                        <p>Más de 10,000 productos médicos en tienda. Aceptamos pagos de paypal, tarjetas de débito, oxxopay y cheques. </p>
                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <!-- end team member -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- End section -->