<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contacto</h2>
                <ol class="breadcrumb header-bradcrumb">
                    <li><a [routerLink]="['home']">Inicio</a></li>
                    <li class="active">Contacto</li>
                </ol>
            </div>
        </div>
    </div>
</section>



<!-- Start Contact Us
	=========================================== -->
<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center">
                <h2>Contactanos</h2>
                <p>Para cualquier tipo de duda sobre nuestros producto llenar nuestro formulario de contacto o chatea con nuestro agentes de ventas </p>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- Contact Details -->
            <div class="contact-details col-md-6 ">
                <h3>Detalles de Contacto</h3>
                <br>
                <ul class="contact-short-info">
                    <li>
                        <i class="tf-ion-ios-home"></i>
                        <span>Lago Belgrano 20, Amp Granada, 11529 Ciudad de México, CDMX.</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-phone-portrait"></i>
                        <span>Teléfono: (55) 5545-5021</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-globe"></i>
                        <span>Pagina Web: varfra.com</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-mail"></i>
                        <span>Email: ventas@varfra.com</span>
                    </li>
                </ul>
                <!-- Footer Social Links -->
                <div class="social-icon">
                    <ul>
                        <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-instagram-outline"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-youtube-outline"></i></a></li>
                    </ul>
                </div>
                <!--/. End Footer Social Links -->
            </div>
            <!-- / End Contact Details -->

            <!-- Contact Form -->
            <div class="contact-form col-md-6 ">
                <form id="contact-form" method="post" action="sendmail.php" role="form">

                    <div class="form-group">
                        <input type="text" placeholder="Nombre" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Asunto" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Mensaje" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
                    </div>

                </form>
            </div>
            <!-- ./End Contact Form -->

        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end section -->

<!--================================
=            Google Map            =
=================================-->
<section class="map">
    <!-- Google Map -->
    <div id="map_canvas"></div>
</section>