<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">Mobiliario Medico</h1>
          <p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Contamos con diferentes marcas y modelos. Enviamos a toda la Republica</p>
          <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
            <li>
              <a data-scroll href="#services" class="btn btn-main">Tienda</a>
            </li>
            <li>
              <a data-scroll href="#team" class="btn btn-transparent">Información</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
Start About Section
==================================== -->
<section class="about" id="about">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="title text-center">
        <h2>Nosotros</h2>

        <div class="border"></div>
      </div>
      <!-- /section title -->

      <div class="col-md-6">
        <img src="./assets/images/about-us.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-6">
        <p>Somos una empresa líder en venta de equipo médico dedicada al servicio, 25 años satisfaciendo las necesidades de nuestros clientes nos avalan cumpliendo desde servicios individuales hasta requerimientos a gran escala, porque sabemos que cada cliente
          es Único. </p>
        <p>Nos importa darle la merecida atención a cada cliente. Nos dedicamos a brindarle el apoyo que está buscando y así podrá tener la confianza de que siempre seremos su mejor opción.</p>
        <p>Actualmente somos distribuidores oficiales y abarcamos todos los sectores del mercado: Personas Físicas, Clínicas Rurales, Clinicas Urbanas, Clientes de la pequeña y mediana empresa, al igual que grandes Hospitales y corporativos a nivel nacional</p>
        <a href="#" class="btn btn-main mt-20">Leer más</a>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->

<!--
Start Call To Action
==================================== -->
<section class="call-to-action-2 section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>El diseño es muy simple, por eso es complicado.</h2>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->


<!-- Start Services Section
    ==================================== -->

<section class="services" id="services">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="title text-center">
        <h2>Servicios</h2>
        <p>Como empresa nos comprometemos a realizar la instalación de los diferentes equipos, que requieren personal especializado y de esta manera obtener instalaciones con funcionalidad al 100%, es por eso que somos distribuidores oficiales.</p>
        <div class="border"></div>
      </div>
      <!-- /section title -->

      <!-- Single Service Item -->
      <div class="col-md-4 col-sm-6 col-xs-12  no-padding">
        <div class="service-block color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-wrench"></i>
          </div>
          <h3>Soporte </h3>
          <p>Otorgamos el mejor sustento a los equipos médicos que requieran la corrección de un error al instante.</p>
        </div>
      </div>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <div class="col-md-4 col-sm-6 col-xs-12  no-padding">
        <div class="service-block text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-calculator"></i>
          </div>
          <h3>Cotización </h3>
          <p>Otorgamos el mejor sustento a los equipos médicos que requieran la corrección de un error al instante.</p>
        </div>
      </div>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <div class="col-md-4 col-sm-6 col-xs-12  no-padding">
        <div class="service-block color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-cart"></i>
          </div>
          <h3> Venta </h3>
          <p>Contamos con profesionales capacitados en el área médica para apoyar y orientar sobre el producto. </p>
        </div>
      </div>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <div class="col-md-4 col-sm-6 col-xs-12  no-padding">
        <div class="service-block  text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-settings"></i>
          </div>
          <h3> Calibración </h3>
          <p>Con un plan de mantenimiento a equipos de precisión se hace el ajuste mecánico y lógico a diversos equipos.</p>
        </div>
      </div>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <div class="col-md-4 col-sm-6 col-xs-12  no-padding">
        <div class="service-block color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-android-done-all"></i>
          </div>
          <h3> Calidad </h3>
          <p>Aseguramos la a satisfacción de las necesidades y expectativas razonables de los clientes.</p>
        </div>
      </div>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <div class="col-md-4 col-sm-6 col-xs-12  no-padding">
        <div class="service-block text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-lock-combination"></i>
          </div>
          <h3> Seguridad </h3>
          <p>Nuestros clientes cuenta con la seguridad que él servicio que se les brinde es hecho por un experto. </p>
        </div>
      </div>
      <!-- End Single Service Item -->

    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->

<!-- Start Portfolio Section
  =========================================== -->

<section class="portfolio section-sm" id="portfolio">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-12">

        <!-- section title -->
        <div class="title text-center">
          <h2>Categoria de Productos</h2>
          <p>Navega por nuestra pagina y encutre los productos que necesitas</p>
          <div class="border"></div>
        </div>
        <!-- /section title -->

        <div class="portfolio-items-wrapper">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 mix design">
              <div class="portfolio-block">
                <img class="img-responsive" src="./assets/images/portfolio/portfolio-1.jpg" alt="">
                <div class="caption">
                  <a class="search-icon" href="./assets/images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
                        <i class="tf-ion-ios-search-strong"></i>
                      </a>
                  <h4><a href="">Bancos</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mix design ios">
              <div class="portfolio-block">
                <img class="img-responsive" src="./assets/images/portfolio/portfolio-2.jpg" alt="">
                <div class="caption">
                  <a class="search-icon" href="./assets/images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
                        <i class="tf-ion-ios-search-strong"></i>
                      </a>
                  <h4><a href="">Carros</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mix photography development">
              <div class="portfolio-block">
                <img class="img-responsive" src="./assets/images/portfolio/portfolio-3.jpg" alt="">
                <div class="caption">
                  <a class="search-icon" href="./assets/images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
                        <i class="tf-ion-ios-search-strong"></i>
                      </a>
                  <h4><a href="">Consultorios</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mix photography ios">
              <div class="portfolio-block">
                <img class="img-responsive" src="./assets/images/portfolio/portfolio-4.jpg" alt="">
                <div class="caption">
                  <a class="search-icon" href="./assets/images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
                        <i class="tf-ion-ios-search-strong"></i>
                      </a>
                  <h4><a href="">Gabinetes</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mix design">
              <div class="portfolio-block">
                <img class="img-responsive" src="./assets/images/portfolio/portfolio-5.jpg" alt="">
                <div class="caption">
                  <a class="search-icon" href="./assets/images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
                        <i class="tf-ion-ios-search-strong"></i>
                      </a>
                  <h4><a href="">Mesas de Exploración</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mix design development">
              <div class="portfolio-block">
                <img class="img-responsive" src="./assets/images/portfolio/portfolio-6.jpg" alt="">
                <div class="caption">
                  <a class="search-icon" href="./assets/images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
                        <i class="tf-ion-ios-search-strong"></i>
                      </a>
                  <h4><a href="">Moviliario individual</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mix photography">
              <div class="portfolio-block">
                <img class="img-responsive" src="./assets/images/portfolio/portfolio-7.jpg" alt="">
                <div class="caption">
                  <a class="search-icon" href="./assets/images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
                        <i class="tf-ion-ios-search-strong"></i>
                      </a>
                  <h4><a href="">Sillas</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mix design development">
              <div class="portfolio-block">
                <img class="img-responsive" src="./assets/images/portfolio/portfolio-1.jpg" alt="">
                <div class="caption">
                  <a class="search-icon" href="./assets/images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
                        <i class="tf-ion-ios-search-strong"></i>
                      </a>
                  <h4><a href="">Vitrinas</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /end col-lg-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- End section -->

<!-- Start Team Skills
  =========================================== -->

<section class="team-skills section-sm" id="skills">
  <div class="container">
    <div class="row">
      <div class="title text-center ">
        <h2>Marcas que Manejamos</h2>
        <div class="border"></div>
        <div class="col-md-12">
          <div id="clients-slider" class="clients-logo-slider">
            <img src="./assets/images/client-logo/logo1.png" alt="">
            <img src="./assets/images/client-logo/logo-2.png" alt="">
            <img src="./assets/images/client-logo/logo-3.png" alt="">
            <img src="./assets/images/client-logo/logo-4.png" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End container -->
</section>
<!-- End section -->

<!-- Start Our Team
    =========================================== -->
<section class="team" id="team">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="title text-center ">
        <h2>Nuestras Páginas</h2>
        <p>Visita nuestras Páginas pueden ser de tu interes.</p>
        <div class="border"></div>
      </div>
      <!-- /section title -->

      <!-- team member -->
      <div class="col-md-4 col-sm-6 ">
        <div class="team-member text-center">
          <div class="member-photo">
            <!-- member photo -->
            <img class="img-responsive" src="./assets/images/team/member-1.jpg" alt="Meghna">
            <!-- /member photo -->

            <!-- member social profile -->
            <div class="mask">
              <ul class="clearfix">
                <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
              </ul>
            </div>
            <!-- /member social profile -->
          </div>

          <!-- member name & designation -->
          <div class="member-content">
            <h3>Varfra.com</h3>
            <span>Venta de Equipos Medicos</span>
            <p>Pagina web de venta de equipos médicos para hospitales, clínica, laboratorio, etc.Cotizamos cualquier tipo de equipo medico.</p>
          </div>
          <!-- /member name & designation -->

        </div>
      </div>
      <!-- end team member -->

      <!-- team member -->
      <div class="col-md-4 col-sm-6 ">
        <div class="team-member text-center">
          <div class="member-photo">
            <!-- member photo -->
            <img class="img-responsive" src="./assets/images/team/member-2.jpg" alt="Meghna">
            <!-- /member photo -->

            <!-- member social profile -->
            <div class="mask">
              <ul class="clearfix">
                <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
              </ul>
            </div>
            <!-- /member social profile -->
          </div>

          <!-- member name & designation -->
          <div class="member-content">
            <h3>Todoenequipomedico.com</h3>
            <span>Insumos Médicos</span>
            <p>Pagina de venta de toda clase de insumos médicos. Aceptamos pagos con paypal y transferencia bancaria. Compre con nosotros.</p>
          </div>
          <!-- /member name & designation -->
        </div>
      </div>
      <!-- end team member -->

      <!-- team member -->
      <div class="col-md-4 col-sm-6 ">
        <div class="team-member text-center">
          <div class="member-photo">
            <!-- member photo -->
            <img class="img-responsive" src="./assets/images/team/member-3.jpg" alt="Meghna">
            <!-- /member photo -->

            <!-- member social profile -->
            <div class="mask">
              <ul class="clearfix">
                <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
                <li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
              </ul>
            </div>
            <!-- /member social profile -->
          </div>

          <!-- member name & designation -->
          <div class="member-content">
            <h3>Elproveedordelmedico.com</h3>
            <span>Tienda online</span>
            <p>Más de 10,000 productos médicos en tienda. Aceptamos pagos de paypal, tarjetas de débito, oxxopay y cheques. </p>
          </div>
          <!-- /member name & designation -->

        </div>
      </div>
      <!-- end team member -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->

<!-- Start Testimonial
=========================================== -->

<section class="testimonial section" id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- testimonial wrapper -->
        <div class="testimonial-slider">
          <!-- testimonial single -->
          <div class="item text-center">
            <i class="tf-ion-chatbubbles"></i>
            <!-- client info -->
            <div class="client-details">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Quia, officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
            </div>
            <!-- /client info -->
            <!-- client photo -->
            <div class="client-thumb">
              <img src="./assets/images/client-logo/clients-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="client-meta">
              <h3>Abul Mal Muhit</h3>
              <span>CEO , Company Name</span>
            </div>
            <!-- /client photo -->
          </div>
          <!-- /testimonial single -->
        </div>
      </div>
      <!-- end col lg 12 -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End Section -->

<!--
  Start Blog Section
  =========================================== -->

<section class="blog" id="blog">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="title text-center ">
        <h2> Latest <span class="color">Posts</span></h2>
        <div class="border"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere accusamus, reprehenderit libero inventore nam.</p>
      </div>
      <!-- /section title -->
      <!-- single blog post -->
      <article class="col-md-4 col-sm-6 col-xs-12 clearfix ">
        <div class="post-item">
          <div class="media-wrapper">
            <img src="http://www.nvinoticias.com/sites/default/files/styles/node/public/image_206.jpg?itok=GPZRGyjZ" alt="amazing caves coverimage" class="img-responsive">
          </div>

          <div class="content">
            <h3><a href="http://www.nvinoticias.com/nota/78517/beneficencia-publica-entrega-equipo-medico-en-oaxaca">Beneficencia Pública entrega equipo médico en Oaxaca</a></h3>
            <p>Con el objetivo de coadyuvar al fortalecimiento de las unidades aplicativas y hospitalarias que integran los Servicios de Salud de Oaxaca (SSO).la Administración del Patrimonio de la Beneficencia Pública del Estado</p>
            <a class="btn btn-main" href="single-post.html">Leer más</a>
          </div>
        </div>
      </article>
      <!-- /single blog post -->

      <!-- single blog post -->
      <article class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="post-item">
          <div class="media-wrapper">
            <img src="http://www.milenio.com/region/centro-encuentra-tercer-hospital-Metropolitano_MILIMA20171201_0058_11.jpg" alt="amazing caves coverimage" class="img-responsive">
          </div>

          <div class="content">
            <h3><a href="http://www.milenio.com/region/servicio-medico-sin_operar-capasits-personas_con_vih-sida-metropolitano-milenio_0_1076892312.html">Inauguran servicio médico. Está sin operar</a></h3>
            <p>La Federación puso los recursos, pero el Estado tiene que cumplir con el personal y el mobiliario, y nada", criticó Abel Quiroga, representante de Acodemis</p>
            <a class="btn btn-main" href="http://www.milenio.com/region/servicio-medico-sin_operar-capasits-personas_con_vih-sida-metropolitano-milenio_0_1076892312.html">Leer más</a>
          </div>
        </div>
      </article>
      <!-- end single blog post -->

      <!-- single blog post -->
      <article class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="post-item">
          <div class="media-wrapper">
            <img src="http://www.vanguardia.com.mx/sites/default/files/styles/paragraph_image_large_desktop_1x/public/van20171205-0066_0.jpg" alt="amazing caves coverimage" class="img-responsive">
          </div>

          <div class="content">
            <h3><a href="http://www.vanguardia.com.mx/articulo/nina-murio-por-neumonia-fge-irian-contra-personal-medico">Niña murió por neumonía: FGE; irían contra personal médico</a></h3>
            <p>Le necropsia de la menor Candelaria Jiménez reveló que la verdadera causa de la muerte fue una neumonía y no una intoxicación por medicamentos.</p>
            <a class="btn btn-main" href="http://www.vanguardia.com.mx/articulo/nina-murio-por-neumonia-fge-irian-contra-personal-medico">Leer más</a>
          </div>
        </div>
      </article>
      <!-- end single blog post -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->

<!-- Start Contact Us
=========================================== -->
<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="title text-center">
        <h2>Contactanos</h2>
        <p>Para cualquier tipo de duda sobre nuestros producto llenar nuestro formulario de contacto o chatea con nuestro agentes de ventas </p>
        <div class="border"></div>
      </div>
      <!-- /section title -->

      <!-- Contact Details -->
      <div class="contact-details col-md-6 ">
        <h3>Detalles de Contacto</h3>
        <br>
        <ul class="contact-short-info">
          <li>
            <i class="tf-ion-ios-home"></i>
            <span>Lago Belgrano 20, Amp Granada, 11529 Ciudad de México, CDMX.</span>
          </li>
          <li>
            <i class="tf-ion-android-phone-portrait"></i>
            <span>Teléfono: (55) 5545-5021</span>
          </li>
          <li>
            <i class="tf-ion-android-globe"></i>
            <span>Pagina Web: varfra.com</span>
          </li>
          <li>
            <i class="tf-ion-android-mail"></i>
            <span>Email: ventas@varfra.com</span>
          </li>
        </ul>
        <!-- Footer Social Links -->
        <div class="social-icon">
          <ul>
            <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="tf-ion-social-instagram-outline"></i></a></li>
            <li><a href="#"><i class="tf-ion-social-youtube-outline"></i></a></li>
          </ul>
        </div>
        <!--/. End Footer Social Links -->
      </div>
      <!-- / End Contact Details -->

      <!-- Contact Form -->
      <div class="contact-form col-md-6 ">
        <form id="contact-form" method="post" action="sendmail.php" role="form">

          <div class="form-group">
            <input type="text" placeholder="Nombre" class="form-control" name="name" id="name">
          </div>

          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" name="email" id="email">
          </div>

          <div class="form-group">
            <input type="text" placeholder="Asunto" class="form-control" name="subject" id="subject">
          </div>

          <div class="form-group">
            <textarea rows="6" placeholder="Mensaje" class="form-control" name="message" id="message"></textarea>
          </div>

          <div id="cf-submit">
            <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
          </div>

        </form>
      </div>
      <!-- ./End Contact Form -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->

<section class="map">
  <div id="map_canvas"></div>
</section>
